:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(240, 4%, 5%);

	--background-black: hsl(0, 0%, 10%);
	--blue: hsl(207, 81%, 33%);
	--blue-grey: hsl(206, 20%, 93%);
	--grey: hsla(0, 0%, 0%, 0.651);
}
