@use "../util" as *;

.rect-button {
  padding: rem(10) rem(20);
  border: none;
  border-radius: rem(15);
  font-weight: 600;
  letter-spacing: rem(1);
  font-family: var(--font-laxend);
  text-transform: capitalize;
}

.hero {
  margin-top: rem(-16);
  height: 80vh;
  background-image: url("../../../assets/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: relative;
  &__text {
    display: flex;
    flex-direction: column;
    gap: rem(3);
    &--top {
      color: var(--white);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 3px;
      padding-top: rem(40);
      font-weight: lighter;
      font-size: rem(15);
    }
    &--title {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 500px;
      color: var(--white);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      font-size: rem(35);

      &--span {
        background: transparent;
        position: relative;
        z-index: 1;
      }
      &--span::before {
        content: "";
        width: 80px;
        height: 1px;
        background-color: aliceblue;
        position: absolute;
        left: 5%;
        top: 45%;
      }
      &--span::after {
        content: "";
        width: 80px;
        height: 1px;
        background-color: aliceblue;
        position: absolute;
        right: 5%;
        top: 45%;
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    gap: rem(20);
    justify-content: center;
    align-items: center;
    &--blue {
      background-color: var(--blue);
      color: var(--white);
    }
    &--white {
      background-color: var(--white);
    }
  }
  &__icon {
    position: absolute;
    bottom: -2%;
    left: 50%;
    width: rem(30);
    height: rem(30);
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    .fa-wine-glass {
      margin: rem(10) auto;
      z-index: 1;
    }
  }
}

.curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.curve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.curve .shape-fill {
  fill: #ffffff;
}
